@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/gustavo\ tabosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    background: rgba(0,0,0,.5);
}

.titulo{
    text-align: center;
    padding: 40px 0;
    color: white;
    font-family: 'Courier Prime', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
}

.empresa{
    margin-bottom: 50px;
}

.missao{
    margin-bottom: 50px;
}

.valores{
    margin-bottom: 50px;
}

.visao{
    margin-bottom: 50px;
}

.descreve{
    padding: 0 100px;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.lista{
    font-size: 2rem;
    text-align: center;
    color: white;
    display: contents;
    font-family: 'Oswald', sans-serif;
}

.logom{
    margin-top: 4px;
    position: absolute;
    width: 150px;
    height: 70px;
    left: 5%;
    cursor: pointer;
}

header{
    padding: 0 30px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background: #123; /*rgba(255,255,255,.2) (transparente)*/
    box-shadow: 0 5px 15px rgba(0,0,0,.2) ;
    transition: .5s;
}

ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
    transition: .5s;
}
  
ul li{
    list-style: none;
}
  
ul li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .5s;
    font-family: sans-serif;
}
  
ul li a:hover{
    background: rgb(161, 211, 219);
    color: #000;
}
  
.toggle{
    display: none;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 26px;
    background: #f00;
    color: #fff;
    padding: 5px;
    font-family: 'IBM Plex Mono', sans-serif;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
}

.toggle::before{
    content: '';
    margin-right: 4px;
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform .3s;
  }
  
  .toggle.active::before{
    transform: rotate(90deg);
  }

.js-scroll{
    opacity: 0;
    transition: .3s;
    transform: translate3d(-30px, 0, 0);
}

.js-scroll.ativo{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.2s;
}

@media (max-width: 992px){
    
    .toggle{
        display: flex;
        font-size: 13px;
    }

    header{
        padding: 0 0;
        background: rgba(255,255,255,.5);
    }
    
    header ul{
        z-index: 99;
        width: 100%;
        top: 80px;
        overflow: hidden;
        display: block;
        position: absolute;
      }
    
      header ul li{
        max-height: 0;
        clear: both;
        transition: max-height .5s ease-in-out;
      }
    
      header ul li a{
        margin: 0;
        display: block;
        text-align: center;
        background: rgba(0,0,0,.8);
        z-index: 1;
        border-bottom: solid 1px rgba(139, 139, 139, 0.377);
      }
    
      header ul.active{
        display: block;
      }
    
      header ul.active li{
        max-height: 40px;
      }

    
    .titulo{
        text-align: center;
        padding: 25px;
        color: white;
        font-size: 2.5rem;
    }
    
    .descreve{
        padding: 0 10px;
        text-align: justify;
        color: white;
        font-size: 1.2rem;
    }

    .lista{
        font-size: 1.2rem;
    }
    
}