@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@font-face{
  font-family: Hello Honey;
  src: url(../fonts/hello\ honey.otf)
}

* {
  margin: 0;
  padding: 0;
}
  
html, body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #202531;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/*Header*/

.logom{
  margin-top: 10px;
  position: absolute;
  width: 150px;
  height: 60px;
  left: 5%;
  cursor: pointer;
} 

header{
  padding: 0 30px;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background:#202531; 
  box-shadow: 0 5px 15px rgba(0,0,0,.2) ;
  transition: .5s;
  margin-bottom: 15px;
}
  
header ul{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  transition: .5s;
}
  
header ul li{
  list-style: none;
}
  
header ul li a{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: .5s;
}
  
header ul li a:hover{
  background:#6c3da1;
  color: #fff;
}
  
.toggle{
  display: none;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 26px;
  background:#6c3da1;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  font-family: 'IBM Plex Mono', sans-serif;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.toggle::before{
  content: '';
  margin-right: 4px;
  display: inline-block;
  height: 2px;
  width: 12px;
  background-color: #fff;
  box-shadow: 0 4px #fff, 0 -4px #fff;
  transition: transform .3s;
}

.toggle.active::before{
  transform: rotate(90deg);
}

/*Fim do header*/

.main-content{
  flex-grow: 1;
}

/*SVG main banner*/

#fa973782-3a18-4630-a762-87130b613ac3{
  width: 750px;
  height: 500px;
}

.banner-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-intro p{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  opacity: 0;
  transition: .8s;
  transform: translate3d(-60px, 0, 0);
  /* font-weight: 500; */
}

.banner-intro p.ativo{
  opacity: 1;
  color: #fff;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.2s;
}

.explain{
  width: 50%;
  margin: 0 15px;
  text-align: justify;
}

.explain-redirect{
  display: flex;
  background-color: #aa64f8;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  margin: 20px auto;
  justify-content: center;
  width: 100px;
  border-radius: 5px;
}

.div-itens{
  display: flex;
  max-width: 90%;
  margin: 20px auto;
  flex-wrap: wrap;
}

.div-itens div{
  margin: 10px;
  /* border: #000 solid 1px; */
  background-color: #222836;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 250px;
  box-shadow: 3px 3px 8px #000;
  padding-bottom: 7px;
}

.item-titulo{
  font-size: 1.1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  color: #fff;
}

.item-desc{
  color: #A2AEBB;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0 10px;
}

.apresentacao{
  display: flex;
  flex-wrap: wrap;
  margin: 0 75px;
  background-color:  #222836;
  max-width: 100%;
  min-height: 75vh;
  align-items: center;
  justify-items: center;
}

.apresentacao div{
  flex: 1 1 300px;
  margin: 5px auto;
  /* margin-left: 50px; */
}

.greeting{
  font-family: 'Hello Honey', serif;
  color:  #fff; 
  font-weight: 400;
  font-size: 2.5rem;
  display: flex;
  margin: 10px 0;
}

.whoiam{
  color:#A2AEBB;
  margin: 10px;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  /* width: 450px; */
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

.fotoPerfil{
  background-color: #3F3D56; 
  width: 275px;
  height: 275px;
  border-radius: 50%;
  text-align: center;
  margin: 20px;
  position: relative;
}

.fotoPerfil p{
  position: absolute;
  color: #fff;
  top: 45%;
  left: 45px;
  font-size: 30px;
}

.subt{
  font-size: 1.1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #fff;
}

.legenda{
  color: #A2AEBB;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}

.h2{
  text-align: center;
  font-size: 1.2rem;
  margin: 15px 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

/*Carousel 1 skills*/

.skills{
  min-height: 50vh;
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.skills div{
  /* background-color: #222836; */
  width: 400px;
}

.habilidade{
  margin-top: 70px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #202531;
  
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Projetos*/




/*Fim projets*/

footer{
  text-align: center;
  color: #fff;
}

/*#403f6b*/

@media(max-width: 768px){
  
  .banner-intro{
    flex-direction: column;
  }
  
  .banner-intro p{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-top: 20px;
    /* font-weight: 500; */
  }
  
  #fa973782-3a18-4630-a762-87130b613ac3{
    width: 100%;
    background-color: #222836;
    height: 250px;
    margin: 20px 10px;
  }

  .toggle{
    display: flex;
    font-size: 13px;
  }

  .logotxt{
    font-size: 2rem;
    margin-left: 10px;
  }

  header{
    padding: 0 0;
    /* background: rgba(255,255,255,.5); */
  }

  header ul{
    z-index: 99;
    width: 100%;
    top: 80px;
    overflow: hidden;
    display: block;
    position: absolute;
  }

  header ul li{
    max-height: 0;
    clear: both;
    transition: max-height .5s ease-in-out;
  }

  header ul li a{
    margin: 0;
    display: block;
    text-align: center;
    background: rgba(0,0,0,.8);
    z-index: 1;
    font-family: sans-serif;
    border-bottom: solid 1px rgba(139, 139, 139, 0.377);
    font-size: 15px;
  }

  header ul.active{
    display: block;
  }

  header ul.active li{
    max-height: 40px;
  }

  .apresentacao{
    margin: 0 35px;
  }

  .skills div{
    margin: 15px 0;
  }
  
}