@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

*{
    margin:0;
    padding: 0;
}

body{
    background-image: url(../images/fabircio\ macedo.jpg);
    background-color: rgba(0, 0, 0, 0.89);
}

section{
    background: rgba(0,0,0,.5);
}

img{
    max-width: 100%;
}

.titulo{
    margin: 15px;
    background-color: rgba(255, 248, 220, 0.733) ;
    padding: 10px;
    border-radius: 2%;
    width: 20%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.flex > div{
    flex: 1 1 400px;
    margin: 25px 10px;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}

.logom{
    margin-top: 4px;
    position: absolute;
    width: 150px;
    height: 70px;
    left: 5%;
    cursor: pointer;
}

header{
    padding: 0 30px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background: #123; /*rgba(255,255,255,.2) (transparente)*/
    box-shadow: 0 5px 15px rgba(0,0,0,.2) ;
    transition: .5s;
}

ul{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
    transition: .5s;
}
  
ul li{
    list-style: none;
}
  
ul li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    transition: .5s;
}
  
ul li a:hover{
    background: rgb(161, 211, 219);
    color: #000;
}
  
.toggle{
    display: none;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 26px;
    background: #f00;
    color: #fff;
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
}

.toggle::before{
    content: '';
    margin-right: 4px;
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    box-shadow: 0 4px #fff, 0 -4px #fff;
    transition: transform .3s;
  }
  
  .toggle.active::before{
    transform: rotate(90deg);
  }

@media(max-width:768px){
    .titulo{
        font-size: 30px;
        width: 60%;
    }

    .toggle{
        display: flex;
        font-size: 13px;
    }

    header{
        padding: 0 0;
        background: rgba(255,255,255,.5);
    }
    
    header ul{
        z-index: 99;
        width: 100%;
        top: 80px;
        overflow: hidden;
        display: block;
        position: absolute;
      }
    
      header ul li{
        max-height: 0;
        clear: both;
        transition: max-height .5s ease-in-out;
      }
    
      header ul li a{
        margin: 0;
        display: block;
        text-align: center;
        background: rgba(0,0,0,.8);
        z-index: 1;
        font-family: sans-serif;
        border-bottom: solid 1px rgba(139, 139, 139, 0.377);
        font-size: 15px;
      }
    
      header ul.active{
        display: block;
      }
    
      header ul.active li{
        max-height: 40px;
      }
}