@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    color: tomato;
    margin: 15px;
    font-family: sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    margin: 0 25px;
    /* display: flex; */
}

hr{
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    color: white;
}

img{
    max-width: 100%;
    border-radius: 5px;
}

.tituloHamburguer{
    margin-top: 20px;
    grid-column: 1/4;
    font-family: 'Sigmar One', sans-serif;
    color: gold;
}

.descricaoHamburguer{
    grid-column: 1/3;
    font-family: 'Bebas Neue';
    margin-top: 10px;
}

select{
    width: 40%;
    justify-self: center;
    
}

.btnPedir{
    grid-column: 3;
    width: 60%;
    justify-self: center;
    margin-top: 5px;
}

.voltar{
    display: grid;
    margin: 40px  auto;
}