@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logom{
  margin-top: 4px;
  position: absolute;
  width: 150px;
  height: 70px;
  left: 5%;
  cursor: pointer;
}

header{
  padding: 0 30px;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background: rgba(255,255,255,.2); 
  box-shadow: 0 5px 15px rgba(0,0,0,.2) ;
  transition: .5s;
}

header ul{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  transition: .5s;
}

header ul li{
  list-style: none;
}

header ul li a{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: .5s;
}

header ul li a:hover{
  background: rgb(161, 211, 219);
  color: #000;
}

.toggle{
  display: none;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 26px;
  background: #f00;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  font-family: 'IBM Plex Mono', sans-serif;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.toggle::before{
  content: '';
  margin-right: 4px;
  display: inline-block;
  height: 2px;
  width: 12px;
  background-color: #fff;
  box-shadow: 0 4px #fff, 0 -4px #fff;
  transition: transform .3s;
}

.toggle.active::before{
  transform: rotate(90deg);
}

/* fim do header */



@media (max-width: 992px){
  .toggle{
    display: flex;
  }

  img{
    background-size: cover;
  }

  header{
    padding: 0 0;
    background: rgba(255,255,255,.5);
  }

  header ul{
    z-index: 99;
    width: 100%;
    top: 80px;
    overflow: hidden;
    display: block;
    position: absolute;
  }

  header ul li{
    max-height: 0;
    clear: both;
    transition: max-height .5s ease-in-out;
  }

  header ul li a{
    margin: 0;
    color: #fff;
    display: block;
    text-align: center;
    background: rgba(0,0,0,.8);
    z-index: 1;
    border-bottom: solid 1px rgba(139, 139, 139, 0.377);
  }

  header ul.active{
    display: block;
  }

  header ul#dropdown.active li{
    max-height: 40px;
  }


}